.menu-btn div {
	position: absolute;
	left: 100%;
	top: 90%;
	padding-right: 8px;
	margin-top: -0.50em;
	line-height: 1.2;
	font-size: 18px;
	font-weight: 200;
	vertical-align: middle;
	z-index: -1;
	position: relative;
}

.menu-btn span {
visibility: hidden;
	width: 50px;
	height: 10px;
	margin: 7px 0px;
	background: red;
}

.responsive-menu{
	display: block;
}

.expand {
	display: block!important; 
}

nav ul{
	color: black;
	list-style: none;
	font-size: 1.4em;
	padding: 0;
	margin-top: 75px;
}

@media (min-width: 700px){
	.menu-btn{
		display: block;
	}
	
	.responsive-menu {
		display: contents;
	}
	
	
	nav li{
		display: inline-block;
		margin-right: auto;
		margin-left: auto;
		margin: 0px 40px;
		
	}
}