#wrap {
	min-height: 100vh; 
 	overflow: hidden;
	display: block;
 	position: relative;
 	padding-bottom: 100px;
	width: 100%;
}



body {
	height: 100%;
	position: relative;
}

h1{
	text-align: center;
	font-family: 'Raleway', sans-serif;
	color: black;
	font-size: 3em;
	background-color: white;
	padding: 50px;
	margin-top: 0px;
	width:50%;
	margin-right: auto;
	margin-left: auto;
}

hr {
	 margin-left: auto;
  	margin-right: auto;
	border-style: inset;
  	border-width: 2px;
	//margin-top: -50px;
}
#bold {
	color: #FF0000;
}


#feed {
	visibility: hidden;
 	height: 100%;
  	margin-top: 206px;
	width: 250px; 
  	position: absolute; 
  	top: 0;
  	right: 0;
  	background-color: black; 
  	overflow-x: hidden; /* Disable horizontal scroll */
  	//padding-top: 400px;
 	font-family: 'Poppins', sans-serif;
	z-index: 1;
}

main {
	width: 100%;
	text-align: center; 
	background-color: white;
	padding-bottom: 100px;
	margin-top: 100px;
}

#p2{
	text-align: left;
	margin-left: auto;
	margin-right: auto;
}

h2 {
	font-family: 'Raleway', sans-serif;
	font-size: 1.3em;
	padding-bottom: 30px;
	
}
h3 {
	font-family: 'Raleway', sans-serif;
	font-size: 1em;
	padding-bottom: 20px;
	
}
main p {
	font-family: 'Raleway', sans-serif;
	color: darkslategrey;
	width:90%;
	font-size: 1em;
	text-align: right;
	margin-left: 30px;
	margin-right: 0px;
}

#id2 {
	width:90%;
	font-size: 1em;
	text-align: left;
	margin-left: 50px;
	margin-right: 0px;
	clear: right;
}

.image-placeholder1 {
    background-color: #eee;
    display: flex;
    height: 350px;
    margin: 5px;
	width: 450px;
	float: right;
	margin-left: 30px;
	margin-right: 50px;
}

.image-placeholder2 {
 	background-color: #eee;
    display: flex;
    height: 350px;
    margin: 5px;
	width: 450px;
	float: left;
	margin-left: 50px;
	margin-right: 50px;
}


footer{
	position: absolute;
	background-color: white;
	color: black;
	width:100%;
	bottom: 0;
	padding-top: 50px;
	margin-top: 50px;

}
footer p {
	text-align: center;
	font-size: 1em;
	color: black;
	font-family: 'Poppins', sans-serif;
	line-height: 10px;
}

#p3 {
	color: #FF0000;
}



 @media (min-width: 768px) and (max-width: 1024px){ 
	 

	 .image-placeholder2  { 
             margin-bottom: 30px;
            } 
	 		.image-placeholder1  { 
              margin-bottom: 30px;
            } 
	 #p1, #p2 {
		margin-top: 50px;
			 margin-bottom: 200px;
	 }
	
	 h2{
		 padding-bottom: 0;
		 margin-top: 50px;;
		 font-size: 1.8em;
		 margin-left: 130px;
		 
	 }
	 h3{
		padding-bottom: 0;
		 text-align: right;
		 margin-right: 130px;
		 font-size: 1.3em;

	 }
	 main p {
		font-size: 1.2em;
	 }
	 
	 footer{
		font-size: .7em;
		padding-top: 30px;
		padding-bottom: 30px;
	 }
	
	 #feed{
		 display: none;
		 visibility: hidden;
	 }

   
} 

 @media (min-width: 1025px){ 
	 #feed {
		 visibility: visible;
	 }
	 h1 {
		 font-size: 3em;
		 padding-right: 150px;
	 }
	 
	 
	 #feed {
		 display: inherit;
	 }
	 main{
		width: 90%;
		 font-size: 1.2em;
		 margin-right:100px;
		 margin-right: auto;
		 position: relative;
		 margin-top: 0;

	 }
	 main p {
		 max-width: 800px;
		 margin-right: auto;
		 margin-left:auto;
	 }
	 
	 #p1, #p2 {
		 text-align: center;
		 
	 }
	
	 footer {
		 width: 100%;
		 padding: 0;
		 bottom: 0;
		margin-left: -65px;
		position: inherit;
		 
		
	 }
	 footer p {
		 font-size: .8em;
	 }
	 
	 h2 {
 		text-align: center;
		 padding: 0;
	 }
	 h3 {
		padding-top: 30px;
		 padding-bottom: 0;
	 }
	 
	 .image-placeholder1 {
		 float: none;
		 margin-right: auto;
		 margin-left: auto;	
		 width:800px;
		 margin-top: 50px;
		 
	 }
	 .image-placeholder2 {
		 display: none;
	 }
	 
	
